.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imageWrapper img{
  margin-top:1%;
  display:block;
  height:80px;
  width:80px;
  margin-left:20px;
}

nav{
  list-style:none;
  display:flex;
  justify-content:space-between;
}

header{
  height:80px;
  line-height: 80px;
}

nav .navlinks{
  display:flex;
  justify-content: space-between;
  width:50%;
  margin-right:5%;
  margin-top:1%;
  font-family: 'Verdana' ;
  font-size: medium;
}

.navlinks a {
  font-family: 'Dancing Script';
  font-size: 140%;
  text-decoration: none;
  color:black;
  font-weight:bold;
}
nav li{
  
  padding-top:0;
  font-size:125%

}

.home {
  display:flex;
  font-family: 'Dancing Script' ;
  font-size: 350%;
  justify-content: center;
  padding-top:10%
}


.actualImages{
  width:100%;
}

.actualImages img{
  width:100%;
}

.imagestream{
  display:flex;
  align-items: center;
  flex-direction: column;
}

.usernameTopWrapper{
  display:flex;
  justify-content: flex-start;
  text-align:left;
}
.wrapper{
  text-align:left;
  width:45%;
  margin: 0 auto 3em auto
}

.wrapper a{
  width:100%;
}

.user-photos{
  display:flex;
  justify-content:space-evenly;
  width:100%
}
.user-photos .right-column, .user-photos .left-column, .user-photos .middle-column{

  margin-top:1em;
  width:100%;
  object-fit: cover;
}
.right img{
  margin-bottom:5%;
}

.profileimage {
  border-radius: 50%;
  margin-bottom: 2.5%;
  margin-right: 2.5%;
}

/* image in each column */
.column{
  width:30%;
  display:flex;
  flex-direction:column;
}

.userProfileImage{
  border-radius:50%;
}

.user-name{
text-align: center;
}

.about{
  font-family: 'Dancing Script';
  text-align: center;
  margin-top: 10%;
  
}
.noMatch{
  text-align: center; 
}
@media (max-width:1000px){
  .home h1{
    font-size:1em
  }
}


@media(max-width: 483px){
  .home h1{
    font-size: 50%;
  }
}
