.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .imagestream{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}  */

nav{

  list-style:none;
  display:flex;
  justify-content:flex-end;

}
nav .navlinks{
  display:flex;
  justify-content: space-between;
  width:50%;
  margin-right:10%;
  
}

nav li{
  
  padding-top:0;
 
  font-size:125%

}

.home {
  display:flex;
  font-family: 'Dancing Script' ;
  font-size: 350%;
  justify-content: center;
}


.imageWrapper img {
  
  display:block;
  max-width:10%;
  height:auto;
}

.actualImages img{
  display:flex;
  justify-content: center;
}

.imagestream{
  display:flex;
  align-items: center;
  flex-direction: column;
}

.usernameTopWrapper{
  display:flex;
  justify-content: flex-start;
  text-align:left;
}
.wrapper{
  text-align:left;
}

.user-photos{
  display:flex;
  justify-content:space-evenly;
}
.user-photos .right-column, .user-photos .left-column{
  display:flex;
  flex-direction:column;
}
.right img{
  margin-bottom:5%;
}

